<div class="row my-4 mx-4">
  <div class="card p-3">
    <div class="row">
      <div class="col-auto">
        <div class="row align-items-center ">
          <div class="barbershop-image d-flex w-100 justify-content-center">
            <img [src]="barberShop.image" alt="" style="max-width: 152px; max-height: 152px; object-fit: cover">
          </div>
          <div class="text-center">
            <strong>{{barberShop.name}}</strong>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row align-items-center h-100 ">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12"><p><strong>Estado:</strong> {{barberShop.state}}</p></div>
            <div class="col-md-3 col-lg-3 col-sm-12"><p><strong>Cidade:</strong> {{barberShop.city}}</p></div>
            <div class="col-md-3 col-lg-3 col-sm-12"><p><strong>Rua:</strong> {{barberShop.street}}</p></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><p><strong>Hórario de abertura:</strong> {{barberShop.opening_hour}}h</p></div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"><p><strong>CEP:</strong> {{barberShop.zipcode}}</p></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><p><strong>E-mail:</strong> {{barberShop.email}}</p></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><p><strong>Número:</strong> {{barberShop.streetNumber}}</p></div>
            <div class="col-lg-3 col-md-3 col-sm-12"><p><strong>Hórario de fechamento:</strong> {{barberShop.closing_hour }}h</p></div>
          </div>


        </div>

      </div>
    </div>
  </div>

  <h3 class="mt-4">Serviços</h3>
  <div class="row m-0 p-0">
    <div class="col">
      <app-package-card [canAdd]="true"
                        [packageModels]="packages"></app-package-card>
    </div>

    <div class="col-auto">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Atendimentos em Andamento</h5>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Status</th>
              <th scope="col">Início</th>
              <th scope="col">Fim</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activeServiceOrders of activeServiceOrders; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{ activeServiceOrders.status === 'pending' && 'Pendente' }}</td>
              <td>{{ activeServiceOrders.initial_service_time | date:"dd/MM/yyyy HH:mm"  }}</td>
              <td>{{ activeServiceOrders.final_service_time | date:"dd/MM/yyyy HH:mm"  }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card" [style.height.px]="260" [style.max-width]="'28em'">
        <img class="card-img-top" src="" alt="">
        <div class="card-body" [style.overflow-y]="'scroll'" [style.height.px]="260">
          <h5 class="card-title">Serviços Adicionados</h5>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Valor</th>
              <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let service of cart; let i = index" class="table-items">
              <th scope="row">{{i + 1}}</th>
              <td>{{ service.name }}</td>
              <td>{{ service.description }}</td>
              <td>{{ service.value | currency:'BRL':true }}</td>
              <td>
                <button class="btn" (click)="removeFromCart(service.id)"><i class="bi bi-dash-circle-fill text-danger fs-4"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <div>
              <button (click)="clearCart()" class="btn">Limpar</button>
            </div>
            <div>
              <button (click)="openContractServiceModal()" class="btn btn-primary" href="#">Contratar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
