<div class="row">
  <div class="col-md-12">
    <h2>Dashboard</h2>
  </div>
  <div class="col-md-12 mt-2">
    Analise suas estatísticas
  </div>

  <div class="card text-white bg-success mb-3 mt-3 mx-3" style="max-width: 18rem;">
    <div class="card-body d-flex align-items-center">
      <div>
        <i class="bi bi-currency-dollar" style="font-size: 40px"></i>
      </div>

      <div class="m-auto">
        <p class="card-text text-center fs-2">{{data.amount | currency : 'BRL': true}}</p>
        <h5 class="card-title text-center">Lucro do dia</h5>
      </div>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3 mt-3 mx-3" style="max-width: 18rem;">
    <div class="card-body d-flex align-items-center">
      <div>
        <i class="bi bi-check-circle-fill" style="font-size: 40px"></i>
      </div>

      <div class="m-auto">
        <p class="card-text text-center fs-2">{{serviceOrders.length}}</p>
        <h5 class="card-title text-center">Atendimentos realizados</h5>
      </div>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3 mt-3 mx-3" style="max-width: 18rem;">
    <div class="card-body d-flex align-items-center">
      <div>
        <i class="bi bi-alarm" style="font-size: 40px"></i>
      </div>

      <div class="m-auto">
        <p class="card-text text-center fs-2">{{data.hours}}</p>
        <h5 class="card-title text-end ">Horas atendidas</h5>
      </div>
    </div>
  </div>

  <div class="card text-white bg-danger mb-3 mt-3 mx-3" style="max-width: 18rem;">
    <div class="card-body d-flex align-items-center">
      <div>
        <i class="bi bi-scissors" style="font-size: 40px"></i>
      </div>

      <div class="m-auto">
        <p class="card-text text-center fs-2">{{data.serviceQuantity}}</p>
        <h5 class="card-title text-center">Serviços oferecidos</h5>
      </div>
    </div>
  </div>
</div>

<div class="row gap-3 mx-2 w-100 mb-4">
  <p>Detalhes de operação</p>
  <div class="card col-5">
    <div>
      <div>
        <div class="chart">
          <canvas
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="pieChartColors"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
