<main>
    <h3 class="titulo-categoria">Serviços Básicos</h3>
    <div class="grid-container">
        <div id="servico-1" class="item-servico item">
            <a href="corte-tesoura.html">
                <h3 class="titulo-servicos">Corte na Tesoura</h3>
                <img class="img-servicos" src="img/tesoura.jpg" alt="foto-tesoura">
            </a>
        </div>
        <div id="servico-2" class="item-servico item">
            <a href="corte-maquina.html">
                <h3 class="titulo-servicos">Corte na Máquina</h3>
                <img class="img-servicos" src="img/maquina.jpg" alt="foto-maquina">
            </a>
        </div>
        <div id="servico-3" class="item-servico item">
            <a href="barba.html">
                <h3 class="titulo-servicos">Barba</h3>
                <img class="img-servicos" src="img/barba.jpg" alt="foto-barba">
            </a>
        </div>
        <div id="servico-4" class="item-servico item">
            <a href="cabelo-barba.html">
                <h3 class="titulo-servicos">Barba, Cabelo e Bigode</h3>
                <img class="img-servicos" src="img/cabelo-barba.jpg" alt="foto-cabelo-barba">
            </a>
        </div>
    </div>
    <h3 class="titulo-categoria">Serviços Especiais</h3>
    <div class="grid-container">
        <div class="item-servico">
            <a href="pacote-diamante.html">
                <h3 class="titulo-servicos">Pacote Diamante</h3>
                <img class="img-servicos" src="img/star-diamante.jpg" alt="foto-tesoura">
            </a>
        </div>
        <div class="item-servico">
            <a href="pacote-ouro.html">
                <h3 class="titulo-servicos">Pacote Ouro</h3>
                <img class="img-servicos" src="img/star-gold.jpg" alt="foto-tesoura">
            </a>
        </div>
        <div class="item-servico">
            <a href="pacote-prata.html">
                <h3 class="titulo-servicos">Pacote Prata</h3>
                <img class="img-servicos" src="img/star-silver.jpg" alt="foto-tesoura">
            </a>
        </div>
        <div class="item-servico">
            <a href="pacote-bronze.html">
                <h3 class="titulo-servicos">Pacote Bronze</h3>
                <img class="img-servicos" src="img/star-bronze.jpg" alt="foto-tesoura">
            </a>
        </div>
    </div>
    <h3 class="titulo-categoria">Serviços Específicos</h3>
    <div class="grid-container">
        <div class="item-servico"> 
            <a href="dia-noivo.html">
                <h3 class="titulo-servicos">Dia do Noivo</h3>
                <img class="img-servicos" src="img/noivo.jpg" alt="foto-tesoura">
            </a>
        </div>
        <div class="item-servico">
            <a href="pequeno-principe.html">
                <h3 class="titulo-servicos">Pequeno Príncipe</h3>
                <img class="img-servicos" src="img/infantil.jpg" alt="foto-tesoura">
            </a>
        </div>
    </div>
    <div class="abrir-espaco"></div>
</main>