p {
  padding: 0;
  margin: 0;
}

.card-unselected {
  -webkit-box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.50);
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.50);
  transition: all 0.2s;
}

.card-selected {
  border: 2px solid #198754;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.50);
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.50);
  transition: all 0.2s;
}

.card-unselected:hover, .card-selected:hover {
  -moz-transform: translate(4px, 0px);
  -webkit-transform: translate(4px, 0px);
  -o-transform: translate(4px, 0px);
  -ms-transform: translate(4px, 0px);
  transform: translate(4px, 0px);
}

.barber-img {
  justify-content: center;
  align-content: center;
  object-fit: contain;
}

.barber-img-container {
  align-content: center;
  justify-content: center;
}
