<main class="mt-4 mx-4">
  <div class="row">
    <div class="col-12">
      <div class="mw-100">
      </div>
      <div class="mw-100 mt-3">
        <div class="d-flex">
          <h2 class="me-1">Administração da agenda</h2>
        </div>
        <p>Aqui estão seus serviços agendados</p>
      </div>
    </div>

    <div class="without-schedule">
      <ul class="nav nav-tabs col-12 mt-4">
        <li class="nav-item">
          <a [ngClass]="currentTab === 'calls' ? 'active' : '' " class="nav-link" style="cursor: pointer"
             (click)="tabOnClick('calls')">Atendimentos</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="currentTab === 'history' ? 'active' : '' " class="nav-link" style="cursor: pointer"
             (click)="tabOnClick('history')">Histórico de atendimentos</a>
        </li>
      </ul>
    </div>

    <div>
      <div class="card card-schedule" *ngIf="currentTab === 'calls'">
        <div class="card-body">
          <h5 class="card-title">Ordem de Serviço (Nome Barbearia)</h5>
        </div>
        <ul class="list-group list-group-flush">
          <p class="list-group-item">Data de agendamento - </p>
          <li class="list-group-item">nome</li>
          <li class="list-group-item">Valor:</li>
          <li class="list-group-item">Descrição:</li>
        </ul>
        <div class="card-body">
          <button href="#" class="btn btn-danger">Cancelar agendamento</button>
        </div>
      </div>

      <div class="card card-schedule" *ngIf="currentTab === 'history'">
        <div class="card-body">
          <h5 class="card-title">Atendido em (end-date)</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nome do pacote:</li>
          <li class="list-group-item">Valor:</li>
          <li class="list-group-item">Descrição:</li>
          <li class="list-group-item">Nome da barbearia:</li>
        </ul>
      </div>
    </div>
  </div>
</main>
