<div class="barber-shop-card">
  <img [src]="barberShop.image" alt=""/>
  <div class="barber-shop-card-header">
    <span class="text-muted time-service">{{barberShop.opening_hour}}H ÀS {{barberShop.closing_hour}}H</span>
  </div>
  <div class="barber-shop-card-body">
    <p class="text-muted m-0">Service</p>
    <h4 class="m-0">{{ barberShop.name }}</h4>
    <p class="m-0">
      {{ barberShop.description }}
    </p>

    <div class="form-group d-flex justify-content-end mt-4">
      <button (click)="selectBarberShop(barberShop.id)" type="button" class="btn btn-primary">Conhecer Serviços
      </button>
    </div>
  </div>
</div>
