<div class="package-card row">
  <div class="card-item card-image-container col">
    <img class="card-image" [src]="packageModel.image" alt=""/>
  </div>
  <div class="card-item col">
    <div class="header text-center">Serviço</div>
    <div class="body">
      {{packageModel.name}}
    </div>
  </div>
  <div class="card-item col">
    <div class="header text-center">Descrição</div>
    <div class="body">
      {{packageModel.description}}
    </div>
  </div>
  <div class="card-item  col">
    <div class="header text-center">Tag</div>
    <div class="body">
      {{packageModel.tag}}
    </div>
  </div>
  <div class="card-item  col">
    <div class="header text-center">Tempo Médio</div>
    <div class="body">
      {{packageModel.time}}min
    </div>
  </div>
  <div class="card-item col">
    <div class="header text-center">Valor</div>
    <div class="body">
      {{packageModel.value | currency : 'BRL' : true}}
    </div>
  </div>
  <div class="card-item col">
    <div class="header text-center">Ações</div>
    <div class="body">
      <button *ngIf="canAdd" (click)="addToCart(packageModel)" class="btn "><i
        class="bi bi-plus-circle-fill fs-2 text-primary"></i>
      </button>
      <button *ngIf="canEdit" (click)="openUpdateDialog(packageModel.id)" class="btn "><i
        class="bi fs-2 text-primary  bi-pencil-fill"></i>
      </button>
      <button *ngIf="canDelete" (click)="openDeleteDialog(packageModel)" class="btn "><i
        class="bi fs-2 text-danger  bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>
