main {
  margin-left: 48px;
}


.price .actions-group {
  display: flex;
}


.card {
  border: none;
  -webkit-box-shadow: 0px 0px 6px -4px rgba(0,0,0,0.62);
  box-shadow: 0px 0px 6px -4px rgba(0,0,0,0.62);
  transition: all 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.62);
  box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.62);
}
